<title>Profile: <%=  @user.name %></title>
<h1>
<%= gravatar_for @user %>
<%= @user.name %>
</h1>
<b>Email:</b><%= @user.email %>
<br>
<br>
<a href=edit_user_path(current_user) class="btn btn-primary ">Edit profile</a>